/* * {
    border:1px solid red
} */

/* body styles */
body {
    font-family: Din, Geneva, sans-serif;
    margin: 0px;
    color: #b1b0b0;
}

/* header styles */
header {
    background: #fff;
    height: 110px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

/* nav styles */
.nav {
    background: #fff;
    float: left;
    margin: 40px 0 0 10px;
}

/* nav styles */
.about {
    padding: 10px;
}

.portfolio {
    padding: 10px;
}

.contact {
    padding: 10px;
}

/* nav links styles */
a {
	text-decoration: none;
	}
a:link {
    color: #b1b0b0;
 	}
a:visited {
    color: #b1b0b0;
	}
a:focus {
	color: #0099ff;;
	}
a:hover {
    color: #0099ff;;
    }
a:active {
	color: #0099ff;;
	}


/* logo styles */
.logo {
    background: transparent;
    width: 100px;
    float: right;
    margin-top: 15px;
    margin-right: 10px;
}

/* tagline styles */
#tagline {
    background: #f0f0f0;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}
.tag {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 20px 0px 20px 0px;
    text-align: center;
    color: #0099ff;
}
.contacttitle {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 35px 0px 20px 0px;
    text-align: center;
    color: #0099ff;
}
.portfoliotitle {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 35px 0px 20px 0px;
    text-align: center;
    color: #0099ff;
}

/* container styles */
.container {
    clear: both;
    background: #f0f0f0;
}

/* intro styles */
.intro {
    width: 960px;
    text-align: justify;
    padding: 30px 0px 30px 0px;
    margin-left: auto;
    margin-right: auto;
}
h2 {
    margin-left: 10px;
    margin-right: 10px;
}
p {
    margin-left: 10px;
    margin-right: 10px;
}

/* footer styles */
footer {
    background: #f0f0f0;
    height: 110px;
    width: 100%;
}

/* footernav styles */
.footerwraper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

/* footernav links styles */
.footernav {
    float: left;
    margin: 40px 0 0 10px;
}

/* copyright styles */
.copyright {
    float: right;
    margin-top: 30px;
    margin-right: 10px;
}

                    /* portfolio css section */

/* moneyshots styles */
#moneyshots {
    clear: both;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}
ul {
    list-style-type: none;
    overflow: hidden;
  }
li img {
    float: left;
    width: 300px;
    margin: 20px 3px 20px 3px;
}

                    /* form css section */

/* contact-area styles */
#contact-area {
	width: 600px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    overflow: hidden;
}
#contact-area input, #contact-area textarea {
	width: 470px;
	font-family: Helvetica, sans-serif;
	font-size: 1.4em;
	margin: 10px 0px 10px 0px;
	border: 1px solid #ccc;
}
#contact-area textarea {
	height: 90px;
}
#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #900;
}
#contact-area input.submit-button {
	width: 100px;
    float: right;
    color: #b1b0b0;
    font-family: Din, Geneva, sans-serif;
}
label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
	padding-top: 5px;
	font-size: 1.4em;
}